

<H1> lukas view</H1>

<table id="table" data-unique-id="Timestamp" data-sort-name="Timestamp" data-sort-order="asc"
data-classes="table table-condensed table-hover table-striped" data-toggle="table" data-side-pagination="server"
data-url="Load" data-pagination="true" data-search="true" data-show-refresh="true" 
data-toolbar="#toolbar" data-page-size="20" data-page-list="[5,10,20,50,100,All]">
    <thead>
      <tr>
        <th data-field="Timestamp" data-sortable="true" data-halign="center" data-align="center" data-formatter="flagFormatter">Test</th>
        <th data-field="SecondDataFiled" data-sortable="true"  data-halign="center" data-align="center">test 2</th>
        <th data-field="ThirdDataField" data-sortable="true">test 3</th>
        <th data-field="FourthDataField" data-sortable="true">test 4</th>
      </tr>
    </thead>
  </table>

